div{
    width:500px;
    height:100%;
    margin:auto;
    background-color:cornflowerblue;
}

li{
    width:450px;
    height:40px;
    
    list-style:none;

}

input{
    width:350px;
    margin:0;

}

button{
    margin:0;
    padding:0;
}

h1{
    text-align: center;
}

button{
    margin-left:5px;
}